{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>
   Hello {{ prenom }}
    </h1>

    <h3>
     Recommandation : {{ jul }}
    </h3>

    <h3>
    Mon age est : {{ age }} ans.
    </h3>

    {% if age >= 18 %}
        <p>
        Je suis majeur
        </p>
    {% else %}
        <p>
        Je suis mineur
        </p>
    {% endif %}

{% for item in pokemons %}
    <p>
    Je suis le pokemon : {{ item | upper}}
    </p>

{% endfor %}

<h1>
    Je suis Naruto du village {{ ninja.village}}
 </h1>

 <h1>
    Mon renard est {{ ninja.renard }}
 </h1>

{% endblock %}
